@import "tailwindcss";

@theme {
    --color-zinger: #ffcb2e;
    --color-zinger-alt: #EF5D60;
    --color-mint-500: oklch(0.72 0.11 178);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
